{% extends 'index.html' %} {% block body %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Kelola Pendaftaran</h1>
  </div>
  <div id="Loader">
    <div class="d-flex justify-content-center">
      <div class="spinner-border text-success" style="width: 10rem; height: 10rem" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </div>
  <div class="container">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">+Tambah Pasien</button>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">User Baru</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form class="row g-3 needs-validation" action="{{url_for('tambahdaftar')}}" id="Daftar" method="POST">
            <div class="col-md-4">
              <label for="validationCustom01" class="form-label">No.RM</label>
              <input type="text" class="form-control" id="validationCustom01" name="rm" required>
            </div>
            <div class="col-md-4">
              <label for="validationCustom01" class="form-label">Nama</label>
              <input type="text" class="form-control" id="validationCustom01" name="nama" required>
            </div>
            <div class="col-md-4">
              <label for="validationCustom02" class="form-label">Tempat</label>
              <input type="text" class="form-control" id="validationCustom02" name="tl" required>
            </div>
            <div class="col-md-4">
              <label for="validationCustomUsername" class="form-label">Tanggal Lahir</label>
              <div class="input-group has-validation">
                <span class="input-group-text" id="inputGroupPrepend">@</span>
                <input type="date" class="form-control" id="validationCustomUsername" name="tg_lahir" aria-describedby="inputGroupPrepend" required>
              </div>
            </div>
            <div class="col-md-4">
              <label for="validationCustom04" class="form-label">Jenis Kelamin</label>
              <select class="form-select" id="validationCustom04" name="jk" required>
                <option selected disabled value="">Pilih...</option>
                <option value="Laki-laki">Laki-laki</option>
                <option value="Perempuan">Perempuan</option>
              </select>
            </div>
            <div class="col-md-4">
              <label for="validationCustom05" class="form-label">Profesi</label>
              <input type="text" class="form-control" id="validationCustom05" name="profesi" required>
            </div>
			 <div class="col-md-4">
              <label for="validationCustom02" class="form-label">No.HP</label>
              <input type="text" class="form-control" id="validationCustom02" name="hp" required>
            </div>
            <div class="mb-3">
              <label for="message-text" class="col-form-label">Alamat:</label>
              <textarea class="form-control" name="alamat" style="height: 180px;" id="message-text"></textarea>
            </div>
            <input type="hidden" name="keterangan" value="Diproses">
        </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tutup</button>
              <button type="submit" class="btn btn-primary">Input</button>
            </div>
              </form>
        </div>
       </div>
    </div>
    <br /><br />
    <div class="card">
      <div class="card-header">Table Pasien</div>
      <div class="card-body">
        <table class="table table-bordered table-sm" id="myTable">
          <thead class="table table-dark">
            <tr>
              <th scope="col">No.</th>
              <th scope="col">No.RM</th>
              <th scope="col">Nama Pasien</th>
              <th scope="col">Tempat Lahir</th>
              <th scope="col">Tanggal Lahir</th>
              <th scope="col">Profesi</th>
              <th scope="col">Alamat</th>
              <th scope="col">No.HP</th>
              <th scope="col">Aksi</th>
            </tr>
          </thead>
          <tbody>
            {% for dt in data %}
            <tr>
              <th scope="row">{{loop.index}}</th>
              <td>{{dt.rm}}</td>
              <td>{{dt.nama}}</td>
              <td>{{dt.tl}}</td>
              <td>{{dt.tg_lahir}}</td>
              <td>{{dt.profesi}}</td>
              <td>{{dt.alamat}}</td>
              <td>{{dt.hp}}</td>
              <td><button class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal1{{dt.id}}" data-bs-whatever="@mdo">Edit</button>
                <div class="modal fade" id="exampleModal1{{dt.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel1">Edit Pasien</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              <form class="row g-3 needs-validation" action="/editdaftar/{{dt.id}}" id="Daftar" method="POST">
                                <div class="col-md-4">
                                  <label for="validationCustom01" class="form-label">No.RM</label>
                                  <input type="text" class="form-control" value="{{dt.rm}}" id="validationCustom01" name="rm" required>
                                </div>
                                <div class="col-md-4">
                                  <label for="validationCustom01" class="form-label">Nama</label>
                                  <input type="text" class="form-control" value="{{dt.nama}}" id="validationCustom01" name="nama" required>
                                </div>
                                <div class="col-md-4">
                                  <label for="validationCustom02" class="form-label">Tempat</label>
                                  <input type="text" class="form-control" value="{{dt.tl}}" id="validationCustom02" name="tl" required>
                                </div>
                                <div class="col-md-4">
                                  <label for="validationCustomUsername" class="form-label">Tanggal Lahir</label>
                                  <div class="input-group has-validation">
                                    <span class="input-group-text" id="inputGroupPrepend">@</span>
                                    <input type="date" class="form-control" id="validationCustomUsername" value="{{dt.tg_lahir}}" name="tg_lahir" aria-describedby="inputGroupPrepend" required>
                                  </div>
                                </div>
                                <div class="col-md-4">
                                  <label for="validationCustom04" class="form-label">Jenis Kelamin</label>
                                  <select class="form-select" id="validationCustom04" name="jk" required>
                                    <option selected disabled value=""></option>
                                    <option value="Laki-laki">Laki-laki</option>
                                    <option value="Perempuan">Perempuan</option>
                                  </select>
                                </div>
                                <div class="col-md-4">
                                  <label for="validationCustom05" class="form-label">Profesi</label>
                                  <input type="text" class="form-control" id="validationCustom05" value="{{dt.profesi}}" name="profesi" required>
                                </div>
                                <div class="col-md-4">
                                  <label for="validationCustom02" class="form-label">No.HP</label>
                                  <input type="text" class="form-control" id="validationCustom02" value="{{dt.hp}}" name="hp" required>
                                </div>
                                <div class="mb-3">
                                  <label for="message-text" class="col-form-label">Alamat:</label>
                                  <textarea class="form-control" name="alamat" style="height: 180px;" id="message-text">{{dt.alamat}}</textarea>
                                </div>
                                <input type="hidden" name="keterangan" value="Diproses">
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tutup</button>
                                    <button type="submit" class="btn btn-primary">Input</button>
                                  </div>
                                  </form>
                              </div>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal2{{dt.id}}" data-bs-whatever="@mdo">Hapus</button>
                    <div class="modal fade" id="exampleModal2{{dt.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel2">Konfirmasi</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <h5>Apakah anda ingin menghapus data ini ?</h5>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Batal</button>
                                    <a href="/hapusDaftar/{{dt.id}}" class="btn btn-danger">Ya,Hapus</a>
                                </div>
                                </div>
                            </div>
                        </div>
                </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  {% block tail %}
  <script>
    document.addEventListener("DOMContentLoaded", () => {
      document.querySelector("#Daftar").onsubmit = async (e) => {
        e.preventDefault();
        const req = new XMLHttpRequest();
        req.onload = () => {
          const data = JSON.parse(req.responseText);
          if(data.success) {
            alert("Data berhasil ditambahkan!");
            location.reload();
          }else{
            alert("Ada trouble");
          }
        }
        const form = document.querySelector("#Daftar");
        const datanya = new FormData(form);
        await req.open("POST", "/tambahdaftar", true);
        req.send(datanya);
      }
    });
  </script>
{% endblock %}
  {% endblock %}
</main>
