{% extends 'index.html' %} {% block body %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Daftar Pasien</h1>
  </div>
  <div id="Loader">
    <div class="d-flex justify-content-center">
      <div class="spinner-border text-success" style="width: 10rem; height: 10rem" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="card">
      <div class="card-header">Table Pasien</div>
      <div class="card-body">
        <table class="table table-bordered table-sm" id="myTable">
          <thead class="table table-dark">
            <tr>
              <th scope="col">No.</th>
              <th scope="col">No.RM</th>
              <th scope="col">Nama Pasien</th>
              <th scope="col">Tanggal Lahir</th>
              <th scope="col">Jenis Kelamin</th>
              <th scope="col">Profesi</th>
              <th scope="col">Alamat</th>
              <th scope="col">Aksi</th>
            </tr>
          </thead>
          <tbody>
            {% for dt in data %}
            <tr>
              <th scope="row">{{loop.index}}</th>
              <td>{{dt.rm}}</td>
              <td>{{dt.nama}}</td>
              <td>{{dt.tg_lahir}}</td>
              <td>{{dt.jk}}</td>
              <td>{{dt.profesi}}</td>
              <td>{{dt.alamat}}</td>
              <td>
                <button class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal1{{dt.id}}" data-bs-whatever="@mdo">Edit</button>
                <div class="modal fade" id="exampleModal1{{dt.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel1">Edit Pasien</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <form class="row g-3 needs-validation" action="/diagnosis/{{dt.id}}" method="POST">
                          <div class="mb-3">
                            <label for="validationCustom01" class="form-label">No.RM</label>
                            <input type="text" class="form-control" value="{{dt.rm}}" id="validationCustom01" name="rm" readonly />
                          </div>
                          <div class="mb-3">
                            <label for="validationCustom01" class="form-label">Nama</label>
                            <input type="text" class="form-control" value="{{dt.nama}}" id="validationCustom01" name="nama" readonly />
                          </div>
                          <div class="mb-3">
                            <label for="validationCustom01" class="form-label">Tanggal Lahir :</label>
                            <input type="text" class="form-control" value="{{dt.tg_lahir}}" id="validationCustom01" name="tg_lahir" readonly />
                          </div>
                          <div class="mb-3">
                            <label for="validationCustom01" class="form-label">Jenis Kelamin :</label>
                            <input type="text" class="form-control" value="{{dt.jk}}" id="validationCustom01" name="jk" readonly />
                          </div>
                          <div class="mb-3">
                            <label for="message-text" class="col-form-label">Keluhan:</label>
                            <textarea class="form-control" name="keluhan" style="height: 130px" id="message-text" required></textarea>
                          </div>
                          <div class="mb-3">
                            <label for="message-text" class="col-form-label">Diagnosa:</label>
                            <textarea class="form-control" name="diagnosa" style="height: 130px" id="message-text" required></textarea>
                          </div>
                          <div class="mb-3">
                            <label for="message-text" class="col-form-label">Resep:</label>
                            <textarea class="form-control" name="resep" style="height: 130px" id="message-text" required></textarea>
                          </div>
                          <div class="col-md-4">
                            <label for="validationCustomUsername" class="form-label">Tanggal Berobat</label>
                            <div class="input-group has-validation">
                              <span class="input-group-text" id="inputGroupPrepend">@</span>
                              <input type="date" class="form-control" id="validationCustomUsername" name="tanggal" aria-describedby="inputGroupPrepend" required />
                            </div>
                          </div>
                          <input type="hidden" name="user_id" value="{{session.id}}" />
                          <input type="hidden" name="pendaftaran_id" value="{{dt.id}}" />
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tutup</button>
                            <button type="submit" class="btn btn-primary">Input</button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  {% endblock %}
</main>
